.btn {
    cursor: pointer;
    border: none;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    &_sm {
        font-size: 14px;
        padding: 13px 22px;
        border-radius: 20px;
    }
    &_md {
        font-size: 16px;
        padding: 17px 38px;
        border-radius: 25px;
    }
    &_lg {
        font-size: 18px;
        padding: 17px 38px;
        border-radius: 28px;
    }
    &_blue {
        color: #ffffff;
        background-color: #3751FF;
        transition-duration: 0.2s;
        transition-property: opacity;
        &:hover {
            opacity: 0.7;
        }
    }
    &_white {
        color: #455880;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        transition-duration: 0.2s;
        transition-property: opacity;
        &:hover {
            opacity: 0.7;
        }
    }
    &_email {
        padding: 19px 46px 19px 27px;
        &::before {
            content: '';
            background-image: url('../img/ico-email.svg');
            width: 27px;
            height: 17px;
            margin-right: 10px;
        }
    }
}
