.social {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    padding-bottom: 33px;
    transition-duration: 0.2s;
    transition-property: opacity;
    li {
        &:not(:last-child) {
            padding-right: 23px;
        }
    }
    &__item {
        width: 16px;
        height: 16px;
        display: block;
        &_fb {
            background-image: url('../img/ico-fb.svg');
        }
        &_inst {
            background-image: url('../img/ico-inst.svg');
        }
        &_twitter {
            background-image: url('../img/ico-twitter.svg');
        }
        &_dribbble {
            background-image: url('../img/ico-dribbble.svg');
        }
        &_envato {
            background-image: url('../img/ico-envato.svg');
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
