@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin-italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700italic.woff") format("woff");
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

.body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
}

.container {
  min-width: 320px;
  max-width: 1220px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25em;
  color: #1E266D;
}

@media (min-width: 576px) {
  .h2-title {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .h2-title {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .h2-title {
    font-size: 48px;
  }
}
.btn {
  cursor: pointer;
  border: none;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
}
.btn_sm {
  font-size: 14px;
  padding: 13px 22px;
  border-radius: 20px;
}
.btn_md {
  font-size: 16px;
  padding: 17px 38px;
  border-radius: 25px;
}
.btn_lg {
  font-size: 18px;
  padding: 17px 38px;
  border-radius: 28px;
}
.btn_blue {
  color: #ffffff;
  background-color: #3751FF;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.btn_blue:hover {
  opacity: 0.7;
}
.btn_white {
  color: #455880;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition-duration: 0.2s;
  transition-property: opacity;
}
.btn_white:hover {
  opacity: 0.7;
}
.btn_email {
  padding: 19px 46px 19px 27px;
}
.btn_email::before {
  content: "";
  background-image: url("../img/ico-email.svg");
  width: 27px;
  height: 17px;
  margin-right: 10px;
}

.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 20px;
}
.header__phone {
  font-size: 16px;
  line-height: 80px;
  color: #1E266D;
  text-decoration: none;
}
.header__phone:hover {
  text-decoration: underline;
}
.header__contact-btn {
  display: none;
}

@media (min-width: 576px) {
  .header {
    justify-content: flex-start;
  }
  .header__phone {
    margin-left: auto;
  }
  .header__contact-btn {
    display: block;
    margin-left: 35px;
  }
}
@media (min-width: 992px) {
  .header__phone {
    order: 1;
  }
  .header__contact-btn {
    order: 1;
  }
}
.menu {
  margin-left: 20px;
}
.menu__btn {
  cursor: pointer;
  background-image: url("../img/menu-btn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}
.menu__btn_active {
  background-image: url("../img/menu-btn-close.svg");
}
.menu__list {
  list-style: none;
  padding-left: 0;
}
.menu__list a {
  font-size: 16px;
  line-height: 1em;
  color: #1E266D;
  text-decoration: none;
}

@media (max-width: 991px) {
  .menu__list {
    position: absolute;
    left: 0;
    top: 60px;
    background: #ffffff;
    padding: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: none;
  }
  .menu__list_show {
    display: block;
  }
  .menu__list li:not(:last-child) {
    padding-bottom: 15px;
  }
  .menu__list a {
    display: block;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
  }
  .menu__list a:active {
    background-color: #e2e1e1;
  }
}
@media (min-width: 576px) {
  .menu {
    margin-left: 35px;
  }
}
@media (min-width: 992px) {
  .menu {
    margin-left: 70px;
  }
  .menu__btn {
    display: none;
  }
  .menu__list {
    position: static;
    display: flex;
  }
  .menu__list li {
    padding-right: 52px;
  }
  .menu__list a:hover {
    text-decoration: underline;
  }
}
.main {
  flex: 1 0 auto;
}

.intro {
  background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 83%, #ffffff 83%);
  padding-top: 44px;
  padding-bottom: 25px;
}
.intro__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.05em;
  text-align: center;
  color: #1E266D;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 28px;
}
.intro__description {
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  color: #455880;
  padding-bottom: 29px;
}
.intro__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.intro__buttons > * {
  margin-bottom: 12px;
}
.intro__pic {
  text-align: center;
}

@media (min-width: 576px) {
  .intro {
    padding-top: 74px;
  }
  .intro__title {
    font-size: 42px;
  }
  .intro__buttons {
    flex-direction: row;
  }
  .intro__buttons > * {
    margin: 0 12px 12px;
  }
}
@media (min-width: 768px) {
  .intro {
    padding-top: 104px;
  }
  .intro__title {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .intro {
    padding-top: 144px;
  }
  .intro__title {
    font-size: 56px;
  }
}
.trusted {
  padding-bottom: 40px;
}
.trusted__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  text-align: center;
  color: rgba(69, 88, 128, 0.5);
  padding-bottom: 50px;
}
.trusted__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.trusted__item {
  padding: 0 15px 30px;
}

@media (min-width: 768px) {
  .trusted {
    padding-bottom: 90px;
  }
}
@media (min-width: 992px) {
  .trusted {
    padding-bottom: 150px;
  }
  .trusted__list {
    justify-content: space-between;
  }
}
.able-help {
  padding-bottom: 40px;
}
.able-help__title {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 38px;
}
.able-help__pic {
  max-width: 320px;
  margin: 0 auto 40px;
}
.able-help__item {
  background-repeat: no-repeat;
  background-size: 40px auto;
  padding-left: 62px;
}
.able-help__item:not(:last-child) {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(69, 88, 128, 0.2);
  margin-bottom: 25px;
}
.able-help__item_01 {
  background-image: url("../img/ico-work-01.svg");
}
.able-help__item_02 {
  background-image: url("../img/ico-work-02.svg");
}
.able-help__item_03 {
  background-image: url("../img/ico-work-03.svg");
}
.able-help__item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25em;
  color: #1E266D;
  padding-bottom: 15px;
}
.able-help__item p {
  font-size: 16px;
  line-height: 1.5em;
  color: #455880;
}

@media (min-width: 768px) {
  .able-help {
    padding-bottom: 90px;
  }
  .able-help__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
  }
  .able-help__pic {
    width: 50%;
    max-width: none;
    padding: 0 15px;
  }
  .able-help__info {
    max-width: 407px;
    padding: 0 15px;
  }
  .able-help__item {
    padding-left: 102px;
    background-size: 59px auto;
  }
  .able-help__item:not(:last-child) {
    padding-bottom: 45px;
    margin-bottom: 45px;
  }
  .able-help__item h3 {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .able-help__item p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .able-help {
    padding-bottom: 150px;
  }
}
.innovative {
  background-color: #FFF9EA;
  background-image: url("../img/design-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 400px;
  padding-bottom: 320px;
  padding-top: 44px;
}
.innovative__title {
  text-align: center;
  padding-bottom: 30px;
}
.innovative__description {
  font-size: 18px;
  line-height: 1.5em;
  color: #455880;
  text-align: center;
  padding-bottom: 30px;
  max-width: 400px;
  margin: 0 auto;
}
.innovative__button-wrap {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .innovative {
    padding-top: 74px;
    background-size: auto 450px;
    padding-bottom: 370px;
  }
}
@media (min-width: 768px) {
  .innovative {
    padding-top: 104px;
    background-size: auto 500px;
    padding-bottom: 420px;
  }
  .innovative__title {
    padding-bottom: 40px;
  }
  .innovative__description {
    font-size: 21px;
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .innovative {
    padding-top: 139px;
    background-size: auto 550px;
    padding-bottom: 576px;
  }
}
.reviews {
  padding-top: 80px;
  padding-bottom: 50px;
}
.reviews__title {
  text-align: center;
  padding-bottom: 25px;
}
.reviews__item {
  padding-bottom: 30px;
}
.reviews__item-box {
  padding: 20px 25px;
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.reviews__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8em;
  color: #455880;
  padding-bottom: 20px;
  margin-bottom: auto;
}
.reviews__item-pic {
  text-align: center;
  margin-bottom: 20px;
}
.reviews__item-pic img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.reviews__item-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.25em;
  color: #1E266D;
  text-align: center;
  margin-bottom: 5px;
}
.reviews__item-label {
  font-size: 18px;
  line-height: 1.25em;
  text-align: center;
  color: #455880;
}

@media (min-width: 576px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .reviews__title {
    padding-bottom: 55px;
  }
  .reviews__item-box {
    padding: 25px 30px;
  }
  .reviews__item-text {
    font-size: 18px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 120px;
  }
}
@media (min-width: 992px) {
  .reviews {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  .reviews__title {
    text-align: center;
    padding-bottom: 55px;
  }
  .reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .reviews__item {
    width: 33.333%;
    padding: 0 15px 30px;
  }
  .reviews__item-box {
    height: 100%;
    padding: 37px 43px;
  }
  .reviews__item-text {
    padding-bottom: 55px;
  }
}
.launch {
  padding-top: 48px;
  padding-bottom: 65px;
  background-color: #3751FF;
}
.launch__inset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.launch__title {
  color: #ffffff;
  max-width: 420px;
  text-align: center;
}
.launch__info {
  margin-top: 27px;
  text-align: center;
}
.launch__btn {
  margin-bottom: 19px;
}
.launch__text {
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  color: #DFE0EB;
}

@media (min-width: 768px) {
  .launch {
    padding-top: 68px;
    padding-bottom: 85px;
  }
  .launch__inset {
    flex-direction: row;
  }
  .launch__title {
    text-align: left;
  }
  .launch__info {
    text-align: right;
  }
  .launch__text {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .launch {
    padding-top: 88px;
    padding-bottom: 115px;
  }
}
.footer {
  flex: 0 0 auto;
}
.footer__top {
  padding-top: 50px;
  padding-bottom: 33px;
}
.footer__info {
  margin-bottom: 30px;
}
.footer__info-text {
  font-size: 18px;
  line-height: 1.45em;
  color: #455880;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 26px;
}
.footer__logo img {
  width: 68px;
  height: auto;
}
.footer__menu {
  display: flex;
  margin-bottom: 40px;
}
.footer__menu-col {
  width: 50%;
}
.footer__menu-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.25em;
  color: #1E266D;
  padding-bottom: 32px;
}
.footer__menu-list {
  padding-left: 0;
  list-style: none;
}
.footer__menu-list li {
  padding-bottom: 19px;
}
.footer__menu-list a {
  font-size: 18px;
  line-height: 1.2em;
  color: #455880;
  text-decoration: none;
}
.footer__menu-list a:hover {
  text-decoration: underline;
}
.footer__bot {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 55px;
  border-top: 1px solid rgba(135, 146, 161, 0.08);
}
.footer__copy {
  font-size: 14px;
  line-height: 1.5em;
  color: rgba(69, 88, 128, 0.5);
  padding-bottom: 20px;
}
.footer__bot-menu {
  list-style: none;
  padding-left: 0;
}
.footer__bot-menu li:not(:last-child) {
  padding-bottom: 15px;
}
.footer__bot-menu a {
  font-size: 14px;
  line-height: 1.5em;
  color: #455880;
  text-decoration: none;
}
.footer__bot-menu a:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .footer__top {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-bottom: 0;
  }
  .footer__info {
    width: 100%;
    padding: 0 15px;
  }
  .footer__menu {
    width: 66.666%;
    padding: 0 15px;
  }
  .footer__resources {
    width: 33.333%;
    padding: 0 15px;
  }
  .footer__bot {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .footer__bot-menu {
    display: flex;
  }
  .footer__bot-menu li {
    padding-left: 31px;
  }
}
@media (min-width: 768px) {
  .footer__top {
    padding-top: 80px;
    justify-content: space-between;
  }
  .footer__info {
    width: 25%;
  }
  .footer__menu {
    width: 33.333%;
  }
  .footer__resources {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .footer__top {
    padding-top: 123px;
    padding-bottom: 33px;
    justify-content: space-between;
  }
  .footer__bot {
    padding-top: 55px;
  }
}
.social {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  padding-bottom: 33px;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.social li:not(:last-child) {
  padding-right: 23px;
}
.social__item {
  width: 16px;
  height: 16px;
  display: block;
}
.social__item_fb {
  background-image: url("../img/ico-fb.svg");
}
.social__item_inst {
  background-image: url("../img/ico-inst.svg");
}
.social__item_twitter {
  background-image: url("../img/ico-twitter.svg");
}
.social__item_dribbble {
  background-image: url("../img/ico-dribbble.svg");
}
.social__item_envato {
  background-image: url("../img/ico-envato.svg");
}
.social__item:hover {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */